<!DOCTYPE html>
<html>
<title>Cricket Projects</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>  
<body> 
	<header class="w3-display-container w3-wide w3-grayscale-min" id="home">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
		<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="assets/images/1.jpg" alt="New York" width="100%" style="height: 610px;"> 
					<div class="carousel-caption" style="right: 20%;left: 20%;padding-bottom: 246px;background: rgba(224, 227, 234, 0);font-size:17px"><img class="logo" src="logo.png"></div>
					<div class="carousel-caption" style="background: rgba(45, 99, 137, 0.54);font-size:17px"> 
						<h3>No cricket team in the world depends on one or two players. The team always plays to win.</h3> 
					</div>      
				</div>
				<div class="item">
					<img src="assets/images/2.jpg" alt="Chicago" width="100%" style="height: 610px;"> 
					<div class="carousel-caption" style="right: 20%;left: 20%;padding-bottom: 246px;background: rgba(224, 227, 234, 0);font-size:17px"><img class="logo" src="logo.png"></div>
					<div class="carousel-caption" style="background: rgba(45, 99, 137, 0.54);font-size:17px"> 
						<h3>No cricket team in the world depends on one or two players. The team always plays to win.</h3> 
					</div>      
				</div>
				<div class="item">
					<img src="assets/images/3.jpg" alt="Los Angeles" width="100%" style="height: 610px;"> 
					<div class="carousel-caption" style="right: 20%;left: 20%;padding-bottom: 246px;background: rgba(224, 227, 234, 0);font-size:17px"><img class="logo" src="logo.png"></div>
					<div class="carousel-caption" style="background: rgba(45, 99, 137, 0.54);font-size:17px"> 
						<h3>No cricket team in the world depends on one or two players. The team always plays to win.</h3> 
					</div>      
				</div>
			</div> 
		</div>
	</header> 
	<!-- Navbar (sticky bottom) -->
	<div class="w3-bottom w3-small">
	  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
		<a href="about.html" style="width:25%;text-decoration: none;" class="w3-bar-item w3-button w3-hover">ABOUT</a>
		<a href="cricket-center.html" style="width:25%;text-decoration: none;" class="w3-bar-item w3-button w3-hover">CRICKET CENTER</a>
		<a href="events.html" style="width:25%;text-decoration: none;" class="w3-bar-item w3-button w3-hover">EVENTS</a>
		<a href="booking.html" style="width:25%;text-decoration: none;" class="w3-bar-item w3-button w3-hover">BOOKING</a>
	  </div>
	</div>    
</body>
</html>